body {
    font-family: 'Quicksand', sans-serif;
    background-color: #FAF1E4;
    }

header{
    background-color: #617A55;
    margin-top: 0;
}

h1{
    color: #F3DEBA;
    text-align: center;
}

header p{
    color: #F7F1E5;
    text-align: center;
}

main h4{
    text-align: center;
}
nav{
    background-color: #CEDEBD;
}
nav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    gap: 0;
    margin: 0;
    padding: 0;
}

nav li a {
    text-decoration: none;
}

li a{
    border: 0px;
    padding: 0px; 
    margin: 0px; 
    width: 100%;
}


h2{
    text-align: center;
}

label{
    margin: 8px;
}
input{
    width: 100%;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
}

form button {
    background-color: #617A55;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover{
    transform: translateY(10px);
}

form button[type="reset"] {
    background-color: #ccc;
    margin-left: 10px;
}

p {
    margin: 10px;
    font-weight: bold;
}

.tombol{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:  10px;
}

.img{
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
}
